/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: purple;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: darkmagenta;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px;
    color: #fff;
    margin: 0;

}

.nav-links a {
    color: #fff;
    margin: 0;
}

/* NAVBAR MENU */
.menu {
    display: flex;
    font-size: 18px;
}

.menu li {
    padding: 5px 14px;
}


ul,
li,
a {
    margin: 0px;
    padding: 0px;
}

ul {
    list-style-type: none;
    overflow: hidden;
    background-color: #111;
    position: fixed;
    width: 100%;
    height: auto;
    top: 0;
    z-index: 99;
}



.logo-image {
    width: 15%;
    height: auto;
    float: center;
    margin-top: 1px;
    margin-bottom: -1px;

}

li a {
    display: block;
    color: white;
    text-align: left;
    padding: 14px 16px;
    text-decoration: none;
    font-family: Arial, sans-serif;
}

li a:hover:is(.inactive) {
    background-color: #222;
}

div a:hover:is(.inactive) {
    background-color: #222;
}

li a:hover:is(.active) {
    background-color: #b424b4;
}

div a:hover:is(.active) {
    background-color: #b424b4;
}

.active {
    background-color: #ab16ab;
}


h1 {
    color: black;
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 60px;
}

h2 {
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 30px;
}

p {
    color: white;
    text-align: left;
    font-family: Arial, sans-serif;
    font-size: 19px;
    padding: 5px;
    float: center;
}

body {
    background-color: purple;
    background-image: linear-gradient(30deg, #20124d, #34055c, #5b0098, #9e40dc, #ffffff);
    background-size: 5000px 100%;
    background-position: top;
    background-repeat: 0;
    min-height: 100%;
    min-width: 100%;
    margin: 0;
    padding: 0;

    width: fit-content;

}

h3 {
    color: #ab16ab;
    text-align: left;
    font-family: Arial, sans-serif;
    font-size: 37px;
    padding: 10px;
    float: center;
}

.colored-backround1 {
    background-color: black;
    width: 99%;
    height: auto;
    padding: 10px;
    float: left;
    position: 20px;
    margin-top: 20px;
}

.colored-backround2 {
    background-color: black;
    width: 99%;
    height: auto;
    padding: 10px;
    float: left;
    position: 20px;
}

.float-left {
    float: left;
}

.forgepfp {
    width: 30%;
    height: auto;
    position: 20px;
}

.colored-backround {
    background-color: black;
    width: 99%;
    height: auto;
    padding: 10px;
    float: left;
    position: 20px;
}

.floatcenter {
    float: center;
}

.disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.footer {
    font-size: 18px;
}

.centeralign {
    text-align: center;
}


.supersecretlink {
    color: fff;
}



div.gallery {
    margin: 5px;
    border: 3px solid purple;
    float: left;
    width: 23%;

}

div.gallery:hover {
    border: 3px solid plum;
}

div.gallery img {
    width: 100%;
    height: auto;

}

div.desc {
    padding: 15px;
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 19px;
    color: white;
}



.logo {
    width: 7.5%;
    height: auto;
    padding-left: 30.5%;

}

.about-p {
    padding-left: 20px;
}